*{
    margin: 0;
    padding: 0;
}

body
{
    background-color:rgb(22, 223, 196);
}

img 
{
    width: 130%;
    height: 100%;
}

.top
{
    display: flex;
    height: 125px;
    width: 100%;
    background-color: rgb(94, 91, 91);
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    opacity: 1;
}

.heading
{
    color: rgb(185, 255, 127);  
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 500%; 
}

.firstmovie
{
    background-color: rgb(255, 255, 255);
    height: 278px   ;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 125px;
}

.movie
{
    background-color: rgb(0, 0, 0);
    height: 278px   ;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.photo
{
    object-fit: cover;
    height: 278px;
    width: 200px;  
    margin-right: 30px;
}

.info1
{
    background-color: rgb(223, 230, 198);
    margin-left: 20px;
    height: 278px;
    width: 100%;  
    padding-left: 10px;      
}

.info2
{
    background-color: rgb(226, 204, 233);
    margin-left: 20px;
    height: 278px;
    width: 100%;  
    padding-left: 10px;      
}

.border
{
    width: 100%;
    height: 5px;
    background-color: black;
}
